script.teaching{
  display:block;
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  white-space: pre;
}

.chord-diagram{
    margin: 0 .7em;
}